<section class="column-three my-4">
  <div class="container" >
    <h1 class="text-center">Kanto</h1>
    <p>
      Na pequena cidade de Palett (ponto inicial da jornada de novos
      treinadores), o Professor Carvalho (Oak), um especialista renomado de
      pokémon, aguarda novos treinadores para escolher um dos pokémons
      disponíveis da região de Kanto:
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis nobis
      optio alias provident consequuntur perspiciatis eligendi modi at itaque
      atque dolores, ipsam enim assumenda laudantium aspernatur, expedita a
      nulla laborum?
    </p>
  </div>
</section>
