<div class="row row-cols-1 row-cols-md-3 g-4 my-4">
    <div class="col">
    <div class="card h-100">
      <img
        src="./assets/charmander.png"
        class="card-img-top"
        alt="charmander"
      />
      <div class="card-body">
        <h5 class="card-title">Charmander</h5>
        <p class="card-text">
          Tipo: Fogo</p>
          <p>Cadeia Evolucionar:  Charmander »» Charmeleon »» Charizard
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/bulbasaur" class="card-img-top" alt="Bulbasaur" />
      <div class="card-body">
        <h5 class="card-title">Bulbasaur</h5>
        <p class="card-text">
          Tipo: Planta/Veneno</p>
          <p>Cadeia Evolucionar: Bulbasaur »» Ivysaur »» Venusaur
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./assets/squirtle.png" class="card-img-top" alt="Squirtle" />
      <div class="card-body">
        <h5 class="card-title">Squirtle</h5>
        <p class="card-text">
          Tipo: Água</p>
          <p>Cadeia Evolucionar: Squirtle »» Wartotle »» Blastoise
        </p>
      </div>
    </div>
  </div>
</div>
