#table {
  background-color: #E3350D;
  color: aliceblue;
}

#content-home{
  background-color: #363332;
  border: 3px solid #363332;
  border-radius: 10px;
  min-height: 70vh;
  }

#table.row{
  border-radius: 10px;
  margin: 1px;
  padding: 1px;
}


